{{extend 'layout.html'}}
<h1><div style="float:left;margin-right:10px;height:210px;padding-top:10px"><img src="{{=URL("static/images/forbiddenbig.png")}}"></div>Access Denied</h1>

<div>
{{if int(request.vars.subContent or 0):}}
The page you requested contains content which has access restrictions.</br>
{{else:}}
The page you requested has access restrictions and you are not on the VIP list.<br>
{{pass}}<br>
You will need to contact the owner of this page, <span style="font-weight:bold;">{{=ownerUserName.capitalize()}}</span> in order to get access.<br>Please include the full address of this error page with your request.</div>
<br>
<pre>
<font color=gray>({{=contentType}} / {{=contentID}})</font>
</pre>
<br>
<a href="{{=redirectUrl}}" style="font-weight:bold;">Click here to try again</a>