<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

<title>{{=response.title or request.application}}</title>
{{
response.files.append(URL('static','css/skeleton.css'))
response.files.append(URL('static','css/web2py.css'))
response.files.append(URL('static','css/superfish.css'))
response.files.append(URL('static','css/tablesorter.css'))
response.files.append(URL('static','css/jquery.tagbox.css'))
response.files.append(URL('static','js/superfish.js'))
response.files.append(URL('static','jqueryui/css/redmond/jquery-ui-1.8.17.custom.css'))

# http://shjs.sourceforge.net/
response.files.append(URL('static','css/sh/sh_ide-msvcpp.css'))
digestTitle = ""
}}
{{include 'web2py_ajax.html'}}
</head>
<body class=bod{{if request.vars.refresh: response.write(XML(" onload=\"JavaScript:timedRefresh(%s);\"" % (int(request.vars.refresh) * 60000)))}}>
{{if request.vars.title:}}
<h4 style="text-align:left; font-weight:bold;">{{=request.vars.title}}</h4>
{{pass}}
{{
controlID = 1
currCharts = copy.copy(charts)
showTitle = False}}
{{include 'default/MultiChart.html'}}
</body>
</html>